faster-whisper
python-pptx
pytesseract
opencv-python
pillow
python-dotenv
anthropic
groq
pdf2image
google-genai
sentence-transformers
matplotlib
langchain 
langchain-core
langchain-groq 
langchain-huggingface 
langchain-chroma 
chromadb
pydantic 
langchain-groq
